

body{
    height: 100vh;
    background-image: url(arvore\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    font-size: 1em;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    height: 100%;
    width: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 600px;
    width: 800px;
    display: flex;
    border-radius: 20px;
    justify-self: flex-end;
    align-self: center;
    margin-right: 50px;
    background: linear-gradient(#d41b1b, #d41b1b);
    justify-content: space-around;
    padding: 20px;
    border: 10px solid #ffffff ;
    animation: piscapisca 2.1s linear infinite;
}
img{
    height: 40vh;
    opacity: 100%;
}
.conteudo{
    display: flex;
    align-items: center;
}
.texto{
    align-self: baseline;
    margin-top: 2em;
    font-size: 1.5em;
    width: 400px;
    margin-left: 40px;
    backdrop-filter: blur(1px);
    color: rgb(0, 0, 0);
}

@keyframes piscapisca{
    50% {border-color: #ffffff8a;}
    100% {border-color: #ffffff;}
}